[data-page=".global_menu"][data-itemid="chart"] {
  width: 100%;
  height: 530px;
}
[data-page=".global_menu"][data-itemid="chart1"] {
  width: 100%;
  height: 530px;
}
[data-page=".global_menu"][data-itemid="chart2"] {
  width: 100%;
  height: 530px;
}
[data-page=".global_menu"][data-itemid="chart3"] {
  width: 100%;
  height: 530px;
}
[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #8FBC8B;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #8FBC8B;
}


