<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h3 class="panel-title" data-itemtype="masterprint_header" data-itemid="masterprint_header" {$item_masterprint_header} data-pageid="{$pageid}" >{$pagetitlelabel contrato masterprint}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<div  data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	<div class="r-grid-columns {$rowclass}" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
		{BEGIN grid_vrecord}
		<div class="panel panel-default" {$recordattrs}>
									
			{BEGIN grid_recordheader}
			<div class="panel-heading">
						
				<table data-location="grid" class="header-table">
					<tbody>
				 
												
						<tr >
						 
							{BEGIN cellblock_grid_cell_top}
	<th
	
	{$cell_grid_cell_top}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_cell_top}
												</tr>
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
											
					</tbody>
				</table>

					</div>
		{END grid_recordheader}
												
			<div class="panel-body">					
						
				<table data-location="grid" class="bs-fieldsgrid table">
					<tbody>
				 
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label}
	<td
	
	{$cell_grid_cell_label}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_ano_class}
			"

			data-field="cont_ano"
	
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_ano_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_ano">
	{$label contrato cont_ano }	</span>
{END cont_ano_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label}
						 
							{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_ano_class}
			"

			data-field="cont_ano"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_ano_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_ano" data-default-width >
{$cont_ano_value}
</span>
{END cont_ano_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
						 
							{BEGIN cellblock_grid_cell_label1}
	<td
	
	{$cell_grid_cell_label1}
	{$recordattrs}
	class="
		r-align-right r-ori-vert			"

	
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_label1}
						 
							{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field1}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label30}
	<td
	
	{$cell_grid_cell_label30}
	{$recordattrs}
	class="
		r-align-right				{$pre_contnumero_class}
			"

			data-field="pre_contnumero"
	
	data-cellId="grid_cell_label30" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pre_contnumero_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pre_contnumero">
	{$label contrato pre_contnumero }	</span>
{END pre_contnumero_fieldheadercolumn}

	 
		{BEGIN cont_unspsc_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label3" {$item_grid_field_label3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_unspsc">
	{$label contrato cont_unspsc }	</span>
{END cont_unspsc_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label30}
						 
							{BEGIN cellblock_grid_cell_label31}
	<td
	
	{$cell_grid_cell_label31}
	{$recordattrs}
	class="
						{$pre_contnumero_class}
			"

			data-field="pre_contnumero"
	
	data-cellId="grid_cell_label31" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN pre_contnumero_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="pre_contnumero" data-default-width >
{$pre_contnumero_value}
</span>
{END pre_contnumero_fieldcolumn}	 
		{BEGIN cont_unspsc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field3" {$item_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_unspsc" data-default-width >
{$cont_unspsc_value}
</span>
{END cont_unspsc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label31}
						 
							{BEGIN cellblock_grid_cell_label32}
	<td
	
	{$cell_grid_cell_label32}
	{$recordattrs}
	class="
		r-align-right				{$contnumero_class}
			"

			data-field="contnumero"
	
	data-cellId="grid_cell_label32" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contnumero_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contnumero">
	{$label contrato contnumero }	</span>
{END contnumero_fieldheadercolumn}

	 
		{BEGIN cont_tipo_rubro_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label4" {$item_grid_field_label4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_tipo_rubro">
	{$label contrato cont_tipo_rubro }	</span>
{END cont_tipo_rubro_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label32}
						 
							{BEGIN cellblock_grid_cell_label33}
	<td
	
	{$cell_grid_cell_label33}
	{$recordattrs}
	class="
						{$contnumero_class}
			"

			data-field="contnumero"
	
	data-cellId="grid_cell_label33" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN contnumero_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="contnumero" data-default-width >
{$contnumero_value}
</span>
{END contnumero_fieldcolumn}	 
		{BEGIN cont_tipo_rubro_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field4" {$item_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_tipo_rubro" data-default-width >
{$cont_tipo_rubro_value}
</span>
{END cont_tipo_rubro_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label33}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label14}
	<td
	
	{$cell_grid_cell_label14}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_obligaciones_class}
			"

			data-field="cont_obligaciones"
	
	data-cellId="grid_cell_label14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_obligaciones_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_obligaciones">
	{$label contrato cont_obligaciones }	</span>
{END cont_obligaciones_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label14}
						 
							{BEGIN cellblock_grid_cell_label15}
	<td
	
	{$cell_grid_cell_label15}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_obligaciones_class}
			"

			data-field="cont_obligaciones"
	
	data-cellId="grid_cell_label15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_obligaciones_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_obligaciones" data-default-width >
{$cont_obligaciones_value}
</span>
{END cont_obligaciones_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label15}
						 
							{BEGIN cellblock_grid_cell_label16}
	<td
	
	{$cell_grid_cell_label16}
	{$recordattrs}
	class="
		r-align-right r-ori-vert			"

	
	data-cellId="grid_cell_label16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_label16}
						 
							{BEGIN cellblock_grid_cell_label17}
	<td
	
	{$cell_grid_cell_label17}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_label17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_label17}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label26}
	<td
	
	{$cell_grid_cell_label26}
	{$recordattrs}
	class="
		r-align-right				{$cont_nit_contra_ta_class}
			"

			data-field="cont_nit_contra_ta"
	
	data-cellId="grid_cell_label26" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_nit_contra_ta_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_nit_contra_ta">
	{$label contrato cont_nit_contra_ta }	</span>
{END cont_nit_contra_ta_fieldheadercolumn}

	 
		{BEGIN cont_munejec_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label1" {$item_grid_field_label1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_munejec">
	{$label contrato cont_munejec }	</span>
{END cont_munejec_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label26}
						 
							{BEGIN cellblock_grid_cell_label27}
	<td
	
	{$cell_grid_cell_label27}
	{$recordattrs}
	class="
						{$cont_nit_contra_ta_class}
			"

			data-field="cont_nit_contra_ta"
	
	data-cellId="grid_cell_label27" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_nit_contra_ta_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_nit_contra_ta" data-default-width >
{$cont_nit_contra_ta_value}
</span>
{END cont_nit_contra_ta_fieldcolumn}	 
		{BEGIN cont_munejec_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_munejec" data-default-width >
{$cont_munejec_value}
</span>
{END cont_munejec_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label27}
						 
							{BEGIN cellblock_grid_cell_label28}
	<td
	
	{$cell_grid_cell_label28}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$nombre_cont_class}
			"

			data-field="nombre_cont"
	
	data-cellId="grid_cell_label28" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_cont_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre_cont">
	{$label contrato nombre_cont }	</span>
{END nombre_cont_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label28}
						 
							{BEGIN cellblock_grid_cell_label29}
	<td
	
	{$cell_grid_cell_label29}
	{$recordattrs}
	class="
		 r-ori-vert				{$nombre_cont_class}
			"

			data-field="nombre_cont"
	
	data-cellId="grid_cell_label29" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN nombre_cont_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="nombre_cont" data-default-width >
{$nombre_cont_value}
</span>
{END nombre_cont_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label29}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label22}
	<td
	
	{$cell_grid_cell_label22}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_vigencias_futuras_class}
			"

			data-field="cont_vigencias_futuras"
	
	data-cellId="grid_cell_label22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_vigencias_futuras_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label2" {$item_grid_field_label2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_vigencias_futuras">
	{$label contrato cont_vigencias_futuras }	</span>
{END cont_vigencias_futuras_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label22}
						 
							{BEGIN cellblock_grid_cell_label23}
	<td
	
	{$cell_grid_cell_label23}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_vigencias_futuras_class}
			"

			data-field="cont_vigencias_futuras"
	
	data-cellId="grid_cell_label23" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_vigencias_futuras_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_vigencias_futuras" data-default-width >
{$cont_vigencias_futuras_value}
</span>
{END cont_vigencias_futuras_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label23}
						 
							{BEGIN cellblock_grid_cell_label24}
	<td
	
	{$cell_grid_cell_label24}
	{$recordattrs}
	class="
		r-align-right r-ori-vert			"

	
	data-cellId="grid_cell_label24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_label24}
						 
							{BEGIN cellblock_grid_cell_label25}
	<td
	
	{$cell_grid_cell_label25}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_label25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_label25}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label34}
	<td
	
	{$cell_grid_cell_label34}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_fecha_inicio_class}
			"

			data-field="cont_fecha_inicio"
	
	data-cellId="grid_cell_label34" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fecha_inicio_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fecha_inicio">
	{$label contrato cont_fecha_inicio }	</span>
{END cont_fecha_inicio_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label34}
						 
							{BEGIN cellblock_grid_cell_label35}
	<td
	
	{$cell_grid_cell_label35}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_fecha_inicio_class}
			"

			data-field="cont_fecha_inicio"
	
	data-cellId="grid_cell_label35" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fecha_inicio_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fecha_inicio" data-default-width >
{$cont_fecha_inicio_value}
</span>
{END cont_fecha_inicio_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label35}
						 
							{BEGIN cellblock_grid_cell_label36}
	<td
	
	{$cell_grid_cell_label36}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_fechafinal_class}
			"

			data-field="cont_fechafinal"
	
	data-cellId="grid_cell_label36" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fechafinal_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fechafinal">
	{$label contrato cont_fechafinal }	</span>
{END cont_fechafinal_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label36}
						 
							{BEGIN cellblock_grid_cell_label37}
	<td
	
	{$cell_grid_cell_label37}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_fechafinal_class}
			"

			data-field="cont_fechafinal"
	
	data-cellId="grid_cell_label37" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_fechafinal_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_fechafinal" data-default-width >
{$cont_fechafinal_value}
</span>
{END cont_fechafinal_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_label37}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label2}
	<td
	
	{$cell_grid_cell_label2}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_periodicidad_class}
			"

			data-field="cont_periodicidad"
	
	data-cellId="grid_cell_label2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_periodicidad_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_periodicidad">
	{$label contrato cont_periodicidad }	</span>
{END cont_periodicidad_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label2}
						 
							{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_periodicidad_class}
			"

			data-field="cont_periodicidad"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_periodicidad_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_periodicidad" data-default-width >
{$cont_periodicidad_value}
</span>
{END cont_periodicidad_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
						 
							{BEGIN cellblock_grid_cell_label3}
	<td
	
	{$cell_grid_cell_label3}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_estado_class}
			"

			data-field="cont_estado"
	
	data-cellId="grid_cell_label3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_estado_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_estado">
	{$label contrato cont_estado }	</span>
{END cont_estado_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label3}
						 
							{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_estado_class}
			"

			data-field="cont_estado"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_estado_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_estado" data-default-width >
{$cont_estado_value}
</span>
{END cont_estado_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label4}
	<td
	
	{$cell_grid_cell_label4}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_valorinicial_class}
			"

			data-field="cont_valorinicial"
	
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_valorinicial_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_valorinicial">
	{$label contrato cont_valorinicial }	</span>
{END cont_valorinicial_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label4}
						 
							{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_valorinicial_class}
			"

			data-field="cont_valorinicial"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_valorinicial_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_valorinicial" data-default-width >
{$cont_valorinicial_value}
</span>
{END cont_valorinicial_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
						 
							{BEGIN cellblock_grid_cell_label5}
	<td
	
	{$cell_grid_cell_label5}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_valormensual_class}
			"

			data-field="cont_valormensual"
	
	data-cellId="grid_cell_label5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_valormensual_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_valormensual">
	{$label contrato cont_valormensual }	</span>
{END cont_valormensual_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label5}
						 
							{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_valormensual_class}
			"

			data-field="cont_valormensual"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_valormensual_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_valormensual" data-default-width >
{$cont_valormensual_value}
</span>
{END cont_valormensual_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label6}
	<td
	
	{$cell_grid_cell_label6}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_formapago_class}
			"

			data-field="cont_formapago"
	
	data-cellId="grid_cell_label6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_formapago_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_formapago">
	{$label contrato cont_formapago }	</span>
{END cont_formapago_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label6}
						 
							{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_formapago_class}
			"

			data-field="cont_formapago"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_formapago_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_formapago" data-default-width >
{$cont_formapago_value}
</span>
{END cont_formapago_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
						 
							{BEGIN cellblock_grid_cell_label7}
	<td
	
	{$cell_grid_cell_label7}
	{$recordattrs}
	class="
		r-align-right r-ori-vert			"

	
	data-cellId="grid_cell_label7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_label7}
						 
							{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field7}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label8}
	<td
	
	{$cell_grid_cell_label8}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_objeto_class}
			"

			data-field="cont_objeto"
	
	data-cellId="grid_cell_label8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_objeto_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_objeto">
	{$label contrato cont_objeto }	</span>
{END cont_objeto_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label8}
						 
							{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_objeto_class}
			"

			data-field="cont_objeto"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_objeto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_objeto" data-default-width >
{$cont_objeto_value}
</span>
{END cont_objeto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label9}
	<td
	
	{$cell_grid_cell_label9}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_modifica_class}
			"

			data-field="cont_modifica"
	
	data-cellId="grid_cell_label9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_modifica_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label7" {$item_grid_field_label7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_modifica">
	{$label contrato cont_modifica }	</span>
{END cont_modifica_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label9}
						 
							{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_modifica_class}
			"

			data-field="cont_modifica"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_modifica_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field7" {$item_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_modifica" data-default-width >
{$cont_modifica_value}
</span>
{END cont_modifica_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
						 
							{BEGIN cellblock_grid_cell_label10}
	<td
	
	{$cell_grid_cell_label10}
	{$recordattrs}
	class="
		r-align-right r-ori-vert				{$cont_cesion_class}
			"

			data-field="cont_cesion"
	
	data-cellId="grid_cell_label10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_cesion_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label8" {$item_grid_field_label8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_cesion">
	{$label contrato cont_cesion }	</span>
{END cont_cesion_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label10}
						 
							{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$cont_cesion_class}
			"

			data-field="cont_cesion"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN cont_cesion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field8" {$item_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="cont_cesion" data-default-width >
{$cont_cesion_value}
</span>
{END cont_cesion_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
												</tr>
									 
											
					</tbody>
				</table>

				
			</div>				
									
		</div>
		{END grid_vrecord}
	{END grid_record}
	</div>

<div style="clear: both;"></div>
 
	{BEGIN grid_record}
			{END grid_record}


{END grid_row}
</div>			
{END grid_block}
								</div>
</div>
