<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel informe_intersup_admin add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_cont_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cont_fk}  r-vertical-field" 
	data-fieldname="id_cont_fk" 
	data-signal-error-for="id_cont_fk{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id_cont_fk" >


	<label class="r-edit-label control-label" for="{$labelfor_id_cont_fk}">
		{BEGIN id_cont_fk_label}{$label informe_intersup_admin id_cont_fk }{END id_cont_fk_label}
	</label>
	<div class="r-edit-field">
		{$id_cont_fk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id_cont_fk">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin id_cont_fk }		</div>
	</div>
</div>


{END id_cont_fk_fieldblock}
											
{BEGIN inf_consecutivo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_consecutivo}  r-vertical-field" 
	data-fieldname="inf_consecutivo" 
	data-signal-error-for="inf_consecutivo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="inf_consecutivo" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_consecutivo}">
		{BEGIN inf_consecutivo_label}{$label informe_intersup_admin inf_consecutivo }{END inf_consecutivo_label}
	</label>
	<div class="r-edit-field">
		{$inf_consecutivo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_consecutivo">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_consecutivo }		</div>
	</div>
</div>


{END inf_consecutivo_fieldblock}
											
{BEGIN inf_hash_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_hash}  r-vertical-field" 
	data-fieldname="inf_hash" 
	data-signal-error-for="inf_hash{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="inf_hash" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_hash}">
		{BEGIN inf_hash_label}{$label informe_intersup_admin inf_hash }{END inf_hash_label}
	</label>
	<div class="r-edit-field">
		{$inf_hash_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_hash">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_hash }		</div>
	</div>
</div>


{END inf_hash_fieldblock}
											
{BEGIN inf_estado_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_estado}  r-vertical-field" 
	data-fieldname="inf_estado" 
	data-signal-error-for="inf_estado{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="inf_estado" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_estado}">
		{BEGIN inf_estado_label}{$label informe_intersup_admin inf_estado }{END inf_estado_label}
	</label>
	<div class="r-edit-field">
		{$inf_estado_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_estado">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_estado }		</div>
	</div>
</div>


{END inf_estado_fieldblock}
											
{BEGIN inf_fechapresenta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechapresenta}  r-vertical-field" 
	data-fieldname="inf_fechapresenta" 
	data-signal-error-for="inf_fechapresenta{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="inf_fechapresenta" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_fechapresenta}">
		{BEGIN inf_fechapresenta_label}{$label informe_intersup_admin inf_fechapresenta }{END inf_fechapresenta_label}
	</label>
	<div class="r-edit-field">
		{$inf_fechapresenta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_fechapresenta">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_fechapresenta }		</div>
	</div>
</div>


{END inf_fechapresenta_fieldblock}
											
{BEGIN inf_periodicidad_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_periodicidad}  r-vertical-field" 
	data-fieldname="inf_periodicidad" 
	data-signal-error-for="inf_periodicidad{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="inf_periodicidad" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_periodicidad}">
		{BEGIN inf_periodicidad_label}{$label informe_intersup_admin inf_periodicidad }{END inf_periodicidad_label}
	</label>
	<div class="r-edit-field">
		{$inf_periodicidad_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_periodicidad">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_periodicidad }		</div>
	</div>
</div>


{END inf_periodicidad_fieldblock}
											
{BEGIN inf_fecharep_i_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_i}  r-vertical-field" 
	data-fieldname="inf_fecharep_i" 
	data-signal-error-for="inf_fecharep_i{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="inf_fecharep_i" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_fecharep_i}">
		{BEGIN inf_fecharep_i_label}{$label informe_intersup_admin inf_fecharep_i }{END inf_fecharep_i_label}
	</label>
	<div class="r-edit-field">
		{$inf_fecharep_i_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_fecharep_i">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_fecharep_i }		</div>
	</div>
</div>


{END inf_fecharep_i_fieldblock}
											
{BEGIN inf_fecharep_f_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fecharep_f}  r-vertical-field" 
	data-fieldname="inf_fecharep_f" 
	data-signal-error-for="inf_fecharep_f{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="inf_fecharep_f" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_fecharep_f}">
		{BEGIN inf_fecharep_f_label}{$label informe_intersup_admin inf_fecharep_f }{END inf_fecharep_f_label}
	</label>
	<div class="r-edit-field">
		{$inf_fecharep_f_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_fecharep_f">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_fecharep_f }		</div>
	</div>
</div>


{END inf_fecharep_f_fieldblock}
											
{BEGIN inf_doccontratista_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_doccontratista}  r-vertical-field" 
	data-fieldname="inf_doccontratista" 
	data-signal-error-for="inf_doccontratista{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="inf_doccontratista" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_doccontratista}">
		{BEGIN inf_doccontratista_label}{$label informe_intersup_admin inf_doccontratista }{END inf_doccontratista_label}
	</label>
	<div class="r-edit-field">
		{$inf_doccontratista_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_doccontratista">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_doccontratista }		</div>
	</div>
</div>


{END inf_doccontratista_fieldblock}
											
{BEGIN inf_nombrecontratista_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_nombrecontratista}  r-vertical-field" 
	data-fieldname="inf_nombrecontratista" 
	data-signal-error-for="inf_nombrecontratista{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="inf_nombrecontratista" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_nombrecontratista}">
		{BEGIN inf_nombrecontratista_label}{$label informe_intersup_admin inf_nombrecontratista }{END inf_nombrecontratista_label}
	</label>
	<div class="r-edit-field">
		{$inf_nombrecontratista_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_nombrecontratista">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_nombrecontratista }		</div>
	</div>
</div>


{END inf_nombrecontratista_fieldblock}
											
{BEGIN inf_valorcontrato_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_valorcontrato}  r-vertical-field" 
	data-fieldname="inf_valorcontrato" 
	data-signal-error-for="inf_valorcontrato{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="inf_valorcontrato" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_valorcontrato}">
		{BEGIN inf_valorcontrato_label}{$label informe_intersup_admin inf_valorcontrato }{END inf_valorcontrato_label}
	</label>
	<div class="r-edit-field">
		{$inf_valorcontrato_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_valorcontrato">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_valorcontrato }		</div>
	</div>
</div>


{END inf_valorcontrato_fieldblock}
											
{BEGIN inf_cdp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_cdp}  r-vertical-field" 
	data-fieldname="inf_cdp" 
	data-signal-error-for="inf_cdp{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="inf_cdp" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_cdp}">
		{BEGIN inf_cdp_label}{$label informe_intersup_admin inf_cdp }{END inf_cdp_label}
	</label>
	<div class="r-edit-field">
		{$inf_cdp_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_cdp">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_cdp }		</div>
	</div>
</div>


{END inf_cdp_fieldblock}
											
{BEGIN inf_rp_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_rp}  r-vertical-field" 
	data-fieldname="inf_rp" 
	data-signal-error-for="inf_rp{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="inf_rp" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_rp}">
		{BEGIN inf_rp_label}{$label informe_intersup_admin inf_rp }{END inf_rp_label}
	</label>
	<div class="r-edit-field">
		{$inf_rp_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_rp">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_rp }		</div>
	</div>
</div>


{END inf_rp_fieldblock}
											
{BEGIN inf_rubrocode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_rubrocode}  r-vertical-field" 
	data-fieldname="inf_rubrocode" 
	data-signal-error-for="inf_rubrocode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="inf_rubrocode" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_rubrocode}">
		{BEGIN inf_rubrocode_label}{$label informe_intersup_admin inf_rubrocode }{END inf_rubrocode_label}
	</label>
	<div class="r-edit-field">
		{$inf_rubrocode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_rubrocode">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_rubrocode }		</div>
	</div>
</div>


{END inf_rubrocode_fieldblock}
											
{BEGIN inf_objeto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_objeto}  r-vertical-field" 
	data-fieldname="inf_objeto" 
	data-signal-error-for="inf_objeto{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="inf_objeto" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_objeto}">
		{BEGIN inf_objeto_label}{$label informe_intersup_admin inf_objeto }{END inf_objeto_label}
	</label>
	<div class="r-edit-field">
		{$inf_objeto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_objeto">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_objeto }		</div>
	</div>
</div>


{END inf_objeto_fieldblock}
											
{BEGIN inf_fechasuscripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechasuscripcion}  r-vertical-field" 
	data-fieldname="inf_fechasuscripcion" 
	data-signal-error-for="inf_fechasuscripcion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="inf_fechasuscripcion" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_fechasuscripcion}">
		{BEGIN inf_fechasuscripcion_label}{$label informe_intersup_admin inf_fechasuscripcion }{END inf_fechasuscripcion_label}
	</label>
	<div class="r-edit-field">
		{$inf_fechasuscripcion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_fechasuscripcion">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_fechasuscripcion }		</div>
	</div>
</div>


{END inf_fechasuscripcion_fieldblock}
											
{BEGIN inf_fechacont_i_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechacont_i}  r-vertical-field" 
	data-fieldname="inf_fechacont_i" 
	data-signal-error-for="inf_fechacont_i{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="inf_fechacont_i" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_fechacont_i}">
		{BEGIN inf_fechacont_i_label}{$label informe_intersup_admin inf_fechacont_i }{END inf_fechacont_i_label}
	</label>
	<div class="r-edit-field">
		{$inf_fechacont_i_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_fechacont_i">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_fechacont_i }		</div>
	</div>
</div>


{END inf_fechacont_i_fieldblock}
											
{BEGIN inf_fechacont_f_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_fechacont_f}  r-vertical-field" 
	data-fieldname="inf_fechacont_f" 
	data-signal-error-for="inf_fechacont_f{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="inf_fechacont_f" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_fechacont_f}">
		{BEGIN inf_fechacont_f_label}{$label informe_intersup_admin inf_fechacont_f }{END inf_fechacont_f_label}
	</label>
	<div class="r-edit-field">
		{$inf_fechacont_f_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_fechacont_f">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_fechacont_f }		</div>
	</div>
</div>


{END inf_fechacont_f_fieldblock}
											
{BEGIN inf_plazo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_plazo}  r-vertical-field" 
	data-fieldname="inf_plazo" 
	data-signal-error-for="inf_plazo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="inf_plazo" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_plazo}">
		{BEGIN inf_plazo_label}{$label informe_intersup_admin inf_plazo }{END inf_plazo_label}
	</label>
	<div class="r-edit-field">
		{$inf_plazo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_plazo">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_plazo }		</div>
	</div>
</div>


{END inf_plazo_fieldblock}
											
{BEGIN inf_intersup_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_intersup}  r-vertical-field" 
	data-fieldname="inf_intersup" 
	data-signal-error-for="inf_intersup{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="inf_intersup" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_intersup}">
		{BEGIN inf_intersup_label}{$label informe_intersup_admin inf_intersup }{END inf_intersup_label}
	</label>
	<div class="r-edit-field">
		{$inf_intersup_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_intersup">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_intersup }		</div>
	</div>
</div>


{END inf_intersup_fieldblock}
											
{BEGIN inf_nombre_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_nombre}  r-vertical-field" 
	data-fieldname="inf_nombre" 
	data-signal-error-for="inf_nombre{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="inf_nombre" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_nombre}">
		{BEGIN inf_nombre_label}{$label informe_intersup_admin inf_nombre }{END inf_nombre_label}
	</label>
	<div class="r-edit-field">
		{$inf_nombre_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_nombre">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_nombre }		</div>
	</div>
</div>


{END inf_nombre_fieldblock}
											
{BEGIN inf_cargo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_cargo}  r-vertical-field" 
	data-fieldname="inf_cargo" 
	data-signal-error-for="inf_cargo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="inf_cargo" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_cargo}">
		{BEGIN inf_cargo_label}{$label informe_intersup_admin inf_cargo }{END inf_cargo_label}
	</label>
	<div class="r-edit-field">
		{$inf_cargo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_cargo">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_cargo }		</div>
	</div>
</div>


{END inf_cargo_fieldblock}
											
{BEGIN inf_dependencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_dependencia}  r-vertical-field" 
	data-fieldname="inf_dependencia" 
	data-signal-error-for="inf_dependencia{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="inf_dependencia" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_dependencia}">
		{BEGIN inf_dependencia_label}{$label informe_intersup_admin inf_dependencia }{END inf_dependencia_label}
	</label>
	<div class="r-edit-field">
		{$inf_dependencia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_dependencia">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_dependencia }		</div>
	</div>
</div>


{END inf_dependencia_fieldblock}
											
{BEGIN inf_avgejecucion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_avgejecucion}  r-vertical-field" 
	data-fieldname="inf_avgejecucion" 
	data-signal-error-for="inf_avgejecucion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="inf_avgejecucion" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_avgejecucion}">
		{BEGIN inf_avgejecucion_label}{$label informe_intersup_admin inf_avgejecucion }{END inf_avgejecucion_label}
	</label>
	<div class="r-edit-field">
		{$inf_avgejecucion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_avgejecucion">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_avgejecucion }		</div>
	</div>
</div>


{END inf_avgejecucion_fieldblock}
											
{BEGIN inf_actividades_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_actividades}  r-vertical-field" 
	data-fieldname="inf_actividades" 
	data-signal-error-for="inf_actividades{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="inf_actividades" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_actividades}">
		{BEGIN inf_actividades_label}{$label informe_intersup_admin inf_actividades }{END inf_actividades_label}
	</label>
	<div class="r-edit-field">
		{$inf_actividades_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_actividades">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_actividades }		</div>
	</div>
</div>


{END inf_actividades_fieldblock}
											
{BEGIN inf_declarainconf_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_declarainconf}  r-vertical-field" 
	data-fieldname="inf_declarainconf" 
	data-signal-error-for="inf_declarainconf{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="inf_declarainconf" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_declarainconf}">
		{BEGIN inf_declarainconf_label}{$label informe_intersup_admin inf_declarainconf }{END inf_declarainconf_label}
	</label>
	<div class="r-edit-field">
		{$inf_declarainconf_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_declarainconf">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_declarainconf }		</div>
	</div>
</div>


{END inf_declarainconf_fieldblock}
											
{BEGIN inf_declarainconf_obs_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_declarainconf_obs}  r-vertical-field" 
	data-fieldname="inf_declarainconf_obs" 
	data-signal-error-for="inf_declarainconf_obs{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="inf_declarainconf_obs" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_declarainconf_obs}">
		{BEGIN inf_declarainconf_obs_label}{$label informe_intersup_admin inf_declarainconf_obs }{END inf_declarainconf_obs_label}
	</label>
	<div class="r-edit-field">
		{$inf_declarainconf_obs_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_declarainconf_obs">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_declarainconf_obs }		</div>
	</div>
</div>


{END inf_declarainconf_obs_fieldblock}
											
{BEGIN inf_incumplimiento_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_incumplimiento}  r-vertical-field" 
	data-fieldname="inf_incumplimiento" 
	data-signal-error-for="inf_incumplimiento{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="inf_incumplimiento" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_incumplimiento}">
		{BEGIN inf_incumplimiento_label}{$label informe_intersup_admin inf_incumplimiento }{END inf_incumplimiento_label}
	</label>
	<div class="r-edit-field">
		{$inf_incumplimiento_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_incumplimiento">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_incumplimiento }		</div>
	</div>
</div>


{END inf_incumplimiento_fieldblock}
											
{BEGIN inf_incumplimiento_obs_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_incumplimiento_obs}  r-vertical-field" 
	data-fieldname="inf_incumplimiento_obs" 
	data-signal-error-for="inf_incumplimiento_obs{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="inf_incumplimiento_obs" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_incumplimiento_obs}">
		{BEGIN inf_incumplimiento_obs_label}{$label informe_intersup_admin inf_incumplimiento_obs }{END inf_incumplimiento_obs_label}
	</label>
	<div class="r-edit-field">
		{$inf_incumplimiento_obs_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_incumplimiento_obs">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_incumplimiento_obs }		</div>
	</div>
</div>


{END inf_incumplimiento_obs_fieldblock}
											
{BEGIN inf_anio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_anio}  r-vertical-field" 
	data-fieldname="inf_anio" 
	data-signal-error-for="inf_anio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="inf_anio" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_anio}">
		{BEGIN inf_anio_label}{$label informe_intersup_admin inf_anio }{END inf_anio_label}
	</label>
	<div class="r-edit-field">
		{$inf_anio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_anio">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_anio }		</div>
	</div>
</div>


{END inf_anio_fieldblock}
											
{BEGIN inf_prenum_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_prenum}  r-vertical-field" 
	data-fieldname="inf_prenum" 
	data-signal-error-for="inf_prenum{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="inf_prenum" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_prenum}">
		{BEGIN inf_prenum_label}{$label informe_intersup_admin inf_prenum }{END inf_prenum_label}
	</label>
	<div class="r-edit-field">
		{$inf_prenum_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_prenum">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_prenum }		</div>
	</div>
</div>


{END inf_prenum_fieldblock}
											
{BEGIN inf_mail_a_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_mail_a}  r-vertical-field" 
	data-fieldname="inf_mail_a" 
	data-signal-error-for="inf_mail_a{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="inf_mail_a" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_mail_a}">
		{BEGIN inf_mail_a_label}{$label informe_intersup_admin inf_mail_a }{END inf_mail_a_label}
	</label>
	<div class="r-edit-field">
		{$inf_mail_a_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_mail_a">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_mail_a }		</div>
	</div>
</div>


{END inf_mail_a_fieldblock}
											
{BEGIN inf_mail_b_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inf_mail_b}  r-vertical-field" 
	data-fieldname="inf_mail_b" 
	data-signal-error-for="inf_mail_b{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="inf_mail_b" >


	<label class="r-edit-label control-label" for="{$labelfor_inf_mail_b}">
		{BEGIN inf_mail_b_label}{$label informe_intersup_admin inf_mail_b }{END inf_mail_b_label}
	</label>
	<div class="r-edit-field">
		{$inf_mail_b_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inf_mail_b">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin inf_mail_b }		</div>
	</div>
</div>


{END inf_mail_b_fieldblock}
											
{BEGIN url_secop_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_url_secop}  r-vertical-field" 
	data-fieldname="url_secop" 
	data-signal-error-for="url_secop{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="url_secop" >


	<label class="r-edit-label control-label" for="{$labelfor_url_secop}">
		{BEGIN url_secop_label}{$label informe_intersup_admin url_secop }{END url_secop_label}
	</label>
	<div class="r-edit-field">
		{$url_secop_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="url_secop">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin url_secop }		</div>
	</div>
</div>


{END url_secop_fieldblock}
											
{BEGIN num_poliza_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_num_poliza}  r-vertical-field" 
	data-fieldname="num_poliza" 
	data-signal-error-for="num_poliza{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="num_poliza" >


	<label class="r-edit-label control-label" for="{$labelfor_num_poliza}">
		{BEGIN num_poliza_label}{$label informe_intersup_admin num_poliza }{END num_poliza_label}
	</label>
	<div class="r-edit-field">
		{$num_poliza_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="num_poliza">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin num_poliza }		</div>
	</div>
</div>


{END num_poliza_fieldblock}
											
{BEGIN mun_ejec_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mun_ejec}  r-vertical-field" 
	data-fieldname="mun_ejec" 
	data-signal-error-for="mun_ejec{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="mun_ejec" >


	<label class="r-edit-label control-label" for="{$labelfor_mun_ejec}">
		{BEGIN mun_ejec_label}{$label informe_intersup_admin mun_ejec }{END mun_ejec_label}
	</label>
	<div class="r-edit-field">
		{$mun_ejec_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="mun_ejec">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin mun_ejec }		</div>
	</div>
</div>


{END mun_ejec_fieldblock}
											
{BEGIN cont_cesion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_cesion}  r-vertical-field" 
	data-fieldname="cont_cesion" 
	data-signal-error-for="cont_cesion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="cont_cesion" >


	<label class="r-edit-label control-label" for="{$labelfor_cont_cesion}">
		{BEGIN cont_cesion_label}{$label informe_intersup_admin cont_cesion }{END cont_cesion_label}
	</label>
	<div class="r-edit-field">
		{$cont_cesion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_cesion">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin cont_cesion }		</div>
	</div>
</div>


{END cont_cesion_fieldblock}
											
{BEGIN cont_modifica_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cont_modifica}  r-vertical-field" 
	data-fieldname="cont_modifica" 
	data-signal-error-for="cont_modifica{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="cont_modifica" >


	<label class="r-edit-label control-label" for="{$labelfor_cont_modifica}">
		{BEGIN cont_modifica_label}{$label informe_intersup_admin cont_modifica }{END cont_modifica_label}
	</label>
	<div class="r-edit-field">
		{$cont_modifica_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="cont_modifica">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin cont_modifica }		</div>
	</div>
</div>


{END cont_modifica_fieldblock}
											
{BEGIN qty_inf_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf}  r-vertical-field" 
	data-fieldname="qty_inf" 
	data-signal-error-for="qty_inf{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field38" {$item_integrated_edit_field38} data-pageid="{$pageid}" data-field="qty_inf" >


	<label class="r-edit-label control-label" for="{$labelfor_qty_inf}">
		{BEGIN qty_inf_label}{$label informe_intersup_admin qty_inf }{END qty_inf_label}
	</label>
	<div class="r-edit-field">
		{$qty_inf_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="qty_inf">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin qty_inf }		</div>
	</div>
</div>


{END qty_inf_fieldblock}
											
{BEGIN qty_inf_compare_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf_compare}  r-vertical-field" 
	data-fieldname="qty_inf_compare" 
	data-signal-error-for="qty_inf_compare{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="qty_inf_compare" >


	<label class="r-edit-label control-label" for="{$labelfor_qty_inf_compare}">
		{BEGIN qty_inf_compare_label}{$label informe_intersup_admin qty_inf_compare }{END qty_inf_compare_label}
	</label>
	<div class="r-edit-field">
		{$qty_inf_compare_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="qty_inf_compare">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin qty_inf_compare }		</div>
	</div>
</div>


{END qty_inf_compare_fieldblock}
											
{BEGIN qty_inf_verifica_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_qty_inf_verifica}  r-vertical-field" 
	data-fieldname="qty_inf_verifica" 
	data-signal-error-for="qty_inf_verifica{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="qty_inf_verifica" >


	<label class="r-edit-label control-label" for="{$labelfor_qty_inf_verifica}">
		{BEGIN qty_inf_verifica_label}{$label informe_intersup_admin qty_inf_verifica }{END qty_inf_verifica_label}
	</label>
	<div class="r-edit-field">
		{$qty_inf_verifica_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="qty_inf_verifica">
		<div class="text-muted" >
		{$tooltip informe_intersup_admin qty_inf_verifica }		</div>
	</div>
</div>


{END qty_inf_verifica_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
